body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, #eb3131, #f9a0a0, #fafa78);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(33, 33, 33, 0.1);
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #2600ff;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #6694c5;
}
